* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body,
html {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(246, 230, 195, 1) 100%
  );
}

h1.appName {
  text-align: center;
}
